// start font
// .rouge-script-regular {
//     font-family: "Rouge Script", cursive;
//     font-weight: 400;
//     font-style: normal;
// }
.quote-script {
    font-family: "Rouge Script", cursive;
    font-weight: 500;
    font-size: 3.2rem;
    font-style: normal;
}

.title-script {
    font-family: "Bree Serif", cursive;
    font-weight: 500;
    font-style: normal;
}

h3,
h4,
p,
a,
label,
.btn {
    font-family: "Sawarabi Gothic", cursive;
    font-weight: 400;
    font-style: normal;
}

.normal-font {
    font-family: "Sawarabi Gothic", cursive;
    font-weight: 400;
    font-style: normal;
}

// end font
